body {
    font-family: 'Nunito';
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
  }   
#contentt {
    display: inline-flex;
    margin: 50px 200px;
    mar

}
#page1{
    display: flex: ;
}
#spann
{
    font-size: 1rem;
}
#auntydiv {
    margin-right: -10%;
    margin-left: 60%;
    
}
#footer {
    
    min-height: 300px;
    position: relative;
    overflow: hidden; }
    #services::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      width: 100%;
      background-color: #4B4B4B}
  
  .Pg{
    font-size: 1rem;
    text-align: left;
    
  }
  .HThree{
    text-align: left;
    font-size: 1.5rem;
  }
  .HThree1{
        font-size: 2rem;
        margin-left: 0rem;
        text-align: left;
  }
#Tricks{
    background-color: #fff3f1;
}
#Tricks h2{

    line-height: 3rem;
    text-decoration: underline rgb(184, 118, 118);
}
#h22{
    margin-left: 13rem;
    line-height: 3rem;
    text-decoration: underline rgb(184, 118, 118);
}
#img1{
    position: absolute;
    top: -60px;
    left: 82%;
    size: 50%;
}
#img2{
    position: absolute;
    top: -60px;
    left: 82%;
    size: 50%;
}
#img11{
    position: absolute;
    left: 0%;

}
#landing{
    background-color: #fff3f1;
}
.container .row{
    margin: 0%;
    padding: 0%;
}
#img12{
    position: absolute;
    overflow: hidden ;
    z-index: 999;
    left: 53%;
    top: -200%;
    transform: rotate(90deg);
}
#img13{
    position: absolute;
    right: 0%;
    transform: rotate(180deg);
    top: 155%;
}
@media only screen and (max-width: 600px) {
    #img13 {
        display: none;
     
    }
  }
